<html lang="en">
  <%- include partials/head.ejs %>
<body>
  <%- include partials/nav.ejs %>
  <title>All Blogs</title>
  <div  id="view_blogs">
    <h2 class="heading">All Blogs: Click to Read</h2>
      <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
          <hr/>
          <a class="id" href="/blogs/<%= blog._id %>">
          <h3 class="title" ><%= blog.title %></h3>
          </a>
        <% }) %>
        <% } else { %>
        <p>There are no blogs to display...</p>
      <% } %>
  </div>
  <%- include partials/foot.ejs %>
</body>
</html>